* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";    
}
:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #F9B2AC;
    --secondary-color: #FFCB63;
    --tertiary-color: #54BFD0;
}
html {
    font-size: 60%;
    overflow-x: hidden;
}
